body {
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.nav {
  background: #562eff;
  width: 100vw;
  height: 94px;
}

.box-1 img {
  width: 40.42px;
  height: 51px;
  margin-top: 26px;
  margin-bottom: 17px;
  margin-left: 285px;
}

.box-2 img {
  width: 51px;
  height: 51px;
  margin-right: 289px;
  margin: 23px 289px 20px 36px;
}

.para p {
  display: inline-block;
  margin: 0;
  line-height: 24px;
  color: #ffffff;
  margin: 35px 0px 35px 36px;
}
